.login-container {
    background-image: url(../src/assets/login.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
html, body, .root, .App .login-container {
    height: 100%;
  }